name: Release Latest
on:
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Setup | Checkout
        uses: actions/checkout@v4

      - name: Build | Résumé
        uses: xu-cheng/latex-action@v3
        with:
          latexmk_shell_escape: true
          latexmk_use_xelatex: true
          root_file: ./resume.tex

      - name: Build | Cover letter
        uses: xu-cheng/latex-action@v3
        with:
          latexmk_shell_escape: true
          latexmk_use_xelatex: true
          root_file: ./coverletter.tex

      - name: Upload artifacts
        uses: actions/upload-artifact@v4
        with:
          name: pdfs
          path: |
            resume.pdf
            coverletter.pdf

  pages:
    needs: build
    runs-on: ubuntu-latest
    permissions:
      pages: write
      id-token: write
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}
    steps:
      - name: Setup | Checkout
        uses: actions/checkout@v4

      - name: Download artifacts
        uses: actions/download-artifact@v4
        with:
          name: pdfs

      - name: Stage | PDFs
        run: |
          mkdir pub/
          mv resume.pdf pub/
          mv coverletter.pdf pub/

      - name: Setup | Python 3.9
        uses: actions/setup-python@v5
        with:
          python-version: 3.9

      - name: Setup | j2cli
        run: |
          pip3 install --user --upgrade j2cli
          j2 --version

      - name: Stage | Index
        run: |
          PDF='resume.pdf' j2 templates/index.html.j2 > pub/index.html

      - name: Stage | Embed
        run: |
          PDF='resume.pdf' j2 templates/embed.html.j2 > pub/embed.html

      - name: Stage | Résumé
        run: |
          PDF='resume.pdf' j2 templates/index.html.j2 > pub/resume.html

      - name: Stage | Résumé, Embed
        run: |
          PDF='resume.pdf' j2 templates/embed.html.j2 > pub/resume-embed.html

      - name: Stage | Cover letter
        run: |
          PDF='coverletter.pdf' j2 templates/index.html.j2 > pub/coverletter.html

      - name: Stage | Cover letter, Embed
        run: |
          PDF='coverletter.pdf' j2 templates/embed.html.j2 > pub/coverletter-embed.html

      - name: Setup Pages
        uses: actions/configure-pages@v5

      - name: Upload artifact
        uses: actions/upload-pages-artifact@v3
        with:
          path: "pub/"

      - name: Deploy to GitHub Pages
        id: deployment
        uses: actions/deploy-pages@v4
